<table class="table table-striped">
  <thead>
    <tr class="tr">
      <th><%= t "book_tour.people_number" %></th>
      <th><%= t "book_tour.requirement" %></th>
      <th><%= t "book_tour.action" %></th>
    </tr>
  </thead>
  <tbody>
    <%= render @book_tours %>
  </tbody>
</table>
<%= will_paginate %>
